/*Many of this file is used as a template from cs50 finance*/
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 30%;
    overflow: hidden;
    margin-top: -6px;
}

.align-center{
    text-align: center;
}
.container-fluid {
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
}