{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}
<!--list_of_potential_friends (a dict of user's username AND id) (in html first check if it's empty) (can access data with dot notation or square bracket: dict.value or dict["value"])-->
<!--                if list is empty display diff messages-->
<!--            error-->
{% block main %}

<h1 class="display-5 fw-bold">Explore</h1>
<hr>
{% if list_of_potential_friends %}
    <h2 class="display-5 align-center">These people share your birthday:</h2>
    <h4 class="display-5 fw-bold align-center">Send a friend request! (100 Characters max)</h2>
    <h4 class="display-5 fw-bold align-center">Leave "Request message" blank to send the default friend request!</h2>
    <br>
    <br>
    {% for potential_friend in list_of_potential_friends %}
        <form action="/explore" method="post">
            <input type="hidden" name="receiver_id" value="{{ potential_friend.id }}">
                <h4>
                    <!--Make buttons and textbox side by side-->
                    <!--https://stackoverflow.com/questions/10615872/bootstrap-align-input-with-button-->
                    <span>{{ potential_friend.username }}</span>
                    <div class="float-right">
                        <div class="input-group mb-3">
                            <div class="col-xs-12">
                                <input type="search" class="form-control" autocomplete="off" name="request_message" placeholder="Request message" type="text">
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Send Friend Request!</button>
                            </div>
                        </div>
                    </div>
                </h4>
        </form>
        <br>
    {% endfor %}
{% else %}
    <h2 class="display-5 fw-bold align-center">You have already added everyone we have with your birthday!</h2>
    <h4 class="display-5 fw-bold align-center">Try messaging your exiting friends, or ask your friends IRL to join Birthday Meet!</h4>
{% endif %}
{% endblock %}
