{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
<h1 class="display-5 fw-bold">Hello There!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">
            {Intro to Birthday Meet}
        </p>
        <p class="lead">
            {Want to start? register or login!}
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/register"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Register Now!</button></a>
            <a href="/login"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Log In</button></a>
        </div>
    </div>
{% endblock %}
