{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 class="display-5 fw-bold">Register</h1>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        {% if username_error %}
        <p style="color: red;">{{ username_error }}</p>
        {% endif %}
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        {% if password_error %}
        <p style="color: red;">{{ password_error }}</p>
        {% endif %}
        <div class="form-group">
            <input class="form-control" name="confirm" placeholder="Confirm Password" type="password">
        </div>
        {% if confirm_error %}
        <p style="color: red;">{{ confirm_error }}</p>
        {% endif %}
        <div class="form-group">
            Birthday:
            <select name="month">
                <option disabled selected value="">Month</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
            <select name="day">
                <option disabled selected value="">Day</option>
                {% for number in range(1,32) %}
                    <option value="{{ number }}">{{ number }}</option>
                {% endfor %}
            </select>
        </div>
        {% if birthday_error %}
        <p style="color: red;">{{ birthday_error }}</p>
        {% endif %}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
{% endblock %}
