{% extends "layout.html" %}

{% block title %}
    Requests
{% endblock %}
{% block main %}

<h1 class="display-5 fw-bold">Requests</h1>
<hr>
{% if list_of_all_requests %}
    <h2 class="display-5 align-center">New friend requests:</h2>
    <h4 class="display-5 fw-bold align-center">Click "Accept" to add this user to your friend list!</h2>
    {% for request in list_of_all_requests %}
        <div class="form-group">
            <form action="/requests" method="post">
                <h4 class="display-5">
                    From: {{ request.sender_username }}
                </h4>
                <p>
                    "{{ request.request_message }}"
                </p>
                <input type="hidden" name="request_id" value="{{ request.id }}">
                <button class="btn btn-primary" type="submit" name="accepts" value="true">Accept</button>
                <button class="btn btn-secondary" type="submit" name="accepts" value="false">Ignore</button>
            </form>
        </div>
    {% endfor %}
{% else %}
    <h2 class="display-5 fw-bold align-center">You have no new friend requests at this moment</h2>
    <h4 class="display-5 fw-bold align-center">Send some friend requests, or if you know someone that shares your birthday, get them to join Birthday Meet!</h4>
{% endif %}
{% endblock %}
